<nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary nav">
  <div class="container-fluid">
    <!-- Logo Section -->
    <a class="navbar-brand text-white fs-4" href="home">
      <img class="img-logo" src="../assets/images/creative-digital.png" alt="logo image">
    </a>

    <!-- Navbar Toggle Button for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items (Collapsed for mobile) -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <!-- Navbar Links -->
        <li class="nav-item">
          <a class="nav-link active text-white fs-5" aria-current="page" role="button" (click)="onNavClick()" [routerLink]="page.home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" role="button" [routerLink]="[page.about]" (click)="onNavClick()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" role="button" [routerLink]="[page.blog]" (click)="onNavClick()">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" role="button" [routerLink]="[page.contact]" (click)="onNavClick()">Contact</a>
        </li>
        <!-- See Packages Button -->
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openPackagesPage()">See Packages</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
