<footer class="app-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; Creative Canvas Designs</p>
          <ul class="list-inline">
            <li><a [routerLink]="pages.terms">Terms of Service</a></li>
            <li><a [routerLink]="pages.privacy">Privacy Policy</a></li>
            <li><a [routerLink]="pages.contact" routerLinkActive="router-link-active" >Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
