<div class="hero-center">
  <div class="hero-text-center">
    <h1 class="gradient-text">Welcome to Creative Canvas Web Designs</h1>
    <button (click)="goToContact()"  class="btn btn-outline-light">Get in touch</button>
  </div>

  <div class="img-center">
    <img class="hero-img" src="assets/images/digital-marketing.png" alt="" />
  </div>
</div>
<p class="p-gradient-text">Your Business is my Canvas</p>
<section class="mission-section">
  <div class="mission-bg">
    <p class="mission-state"><fa-icon [icon]="faQuoteLeft"></fa-icon> <br> Creative Canvas Designs & Marketing, our mission is to bring your brand to life with innovative digital solutions. We blend creativity with strategy to craft stunning websites, compelling designs, and powerful marketing campaigns that drive real results. Our passion is helping businesses grow by building strong online identities, enhancing visibility, and creating experiences that engage and inspire. Your success is our canvas—let’s create something extraordinary together. <br><fa-icon [icon]="faQuoteRight" class="quote-right"></fa-icon></p>
   
      <h3 class="gradient-text clear-mission">Our mission is clear.</h3>
    
  </div>
</section>

<section class="benefits-section">
  <h2 class="gradient-text benefits-heading">Why Work With Me?</h2>
  <div class="benefits-container">
    <div class="benefit-card">
      <div class="benefit-header">
        <h3 class="gradient-text">Responsiveness</h3>
      </div>
      <div class="benefit-body">
        <p>Always available to answer questions and address your needs promptly.</p>
      </div>
    </div>

    <div class="benefit-card">
      <div class="benefit-header">
        <h3 class="gradient-text">Friendliness</h3>
      </div>
      <div class="benefit-body">
        <p>Creating a friendly and approachable atmosphere for seamless collaboration.</p>
      </div>
    </div>

    <div class="benefit-card">
      <div class="benefit-header">
        <h3 class="gradient-text">Timeliness</h3>
      </div>
      <div class="benefit-body">
        <p>Delivering results on time, every time, without compromising on quality.</p>
      </div>
    </div>

    <div class="benefit-card">
      <div class="benefit-header">
        <h3 class="gradient-text">Quality</h3>
      </div>
      <div class="benefit-body">
        <p>Committed to the highest standards of quality in every project.</p>
      </div>
    </div>
  </div>
</section>
<section class="bottom-section">
  <h3 class="gradient-text">Contact us today to get a quote</h3>
  <button (click)="goToContact()" class="btn btn-outline-light">Contact Us</button>
</section>
